h1{
	font-size: 60px;
     color: rgb(6, 70, 99);
    font-family: 'Libre Baskerville', serif;
}
body {
	    background-color: rgb(186, 209, 194);

}

h2{
	font-size: 30px;
	color: rgb(21, 52, 98);
	font-family: 'Libre Baskerville', serif;
}

p, a {
	font-family: 'Lora', serif;
}

a {
	text-decoration: none;
}

img {
	width: 200px;
	height: 290px;
	border-radius: 6px;
	box-shadow: 10px 20px 30px rgba(30, 30, 30, 0.3)

}


/* class*/

.container {
	width: 700px;
	margin: 0 auto;
}

.card{
	background-color: rgb(79, 160, 149);
	border-radius: 6px;
	box-shadow: 10px 20px 30px rgba(30, 30, 30, 0.3);
	padding: 16px;
	text-align: center;
	margin: 12px;
}
